body {
  /* Set line height to 1.5 times the font size
  and use the OS’s UI font as the website font
  */
  margin: 30;
  margin-inline: max(1em, (100% - 100ch) / 2);
  font: 100%/1.5 system-ui;
  padding: 10;
}