:root {
  --color-accent: oklch(65% 30% 240);
}

html {
  accent-color: var(--color-accent);
}

body {
  /* Set line height to 1.5 times the font size
     and use the OS’s UI font as the website font
  */
  margin: 30;
  margin-inline: max(1em, (100% - 100ch) / 2);
  font: 100%/1.5 system-ui;
  padding: 10;
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;

  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  color: inherit;
  text-decoration: none;

  text-align: center;

  font-weight: 600;

  padding: 0.5em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}
ß
nav a.current {
  color: #007acc;
  font-weight: 700;
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}